
<body class="mainback">
<div class="col-lg-12 row">

    {{> menus/sidemenu }}

    <div class="col-lg-10 mainback ">

        {{> menus/dashboard }}
        
        <div class="col-lg-12 mx-auto row ">
            

            <div class="col-lg-4 p-1 ">
                <div class="col-lg-11 pb-3 mx-auto box1">
                    <h1 class="box2title">Productos</h1>
                    <h5 class="box1remark">Productos Aplicando </h5>
                    <h4 class="box1estad">{{prodnum}} Productos</h4>
                    <div class="col-lg-12 c">
                        <a class="btnproy btn-block" href="/productos">Detalles</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 p-1 ">
                <div class="col-lg-11 pb-3 mx-auto box1">
                    <h1 class="box4title">Productos</h1>
                    <h5 class="box1remark">Productos Aprobados</h5>
                    <h4 class="box1estad">{{prodpagenum}} Productos</h4>
                    <div class="col-lg-12 c">
                        <a class="btnproy btn-block" href="/productos2">Detalles</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 p-1 ">
                <div class="col-lg-11 pb-3 mx-auto box1">
                    <h1 class="box1title">Proyectos </h1>
                    <h5 class="box1remark">Proyectos </h5>
                    <h4 class="box1estad">{{proyects}} Proyectos</h4>
                    <div class="col-lg-12 c">
                        <a class="btnproy btn-block" href="/proyects">Detalles</a>
                    </div>
                </div>
            </div>

            
        </div>

        <div class="col-lg-12 mx-auto row ">
            <div class="col-lg-4 p-1 ">
                <div class="col-lg-11 pb-3 mx-auto box1">
                    <h1 class="box3title">Usuarios </h1>
                    <h5 class="box1remark">Usuarios </h5>
                    <h4 class="box1estad">{{usuarios}} Usuarios</h4>
                    <div class="col-lg-12 c">
                        <a class="btnproy btn-block" href="/users">Detalles</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 p-1 ">
                <div class="col-lg-11 pb-3 mx-auto box1">
                    <h1 class="box5title">Administracion</h1>
                    <h5 class="box1remark">Administradores</h5>
                    <h4 class="box1estad">5 Administradores</h4>
                    <div class="col-lg-12 c">
                        <a class="btnproy btn-block" href="#">Detalles</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 p-1 ">
                <div class="col-lg-11 pb-3 mx-auto box1 ">
                    <h1 class="box6title">Encuesta 1</h1>
                    <h5 class="box1remark">Resultados de la encuesta</h5>
                    <h4 class="box1estad">{{encu1}} Respuestas</h4>
                    <div class="col-lg-12 c">
                        <a class="btnproy btn-block" href="/encuestas">Detalles</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12 mx-auto pt-3 row ">
            <div class="col-lg-4 p-1 ">
                <div class="col-lg-11 pb-3 mx-auto box1">
                    <h1 class="box6title">Usuarios </h1>
                    <h5 class="box1remark">Usuarios </h5>
                    <h4 class="box1estad">{{usuarios}} Usuarios</h4>
                    <div class="col-lg-12 c">
                        <a class="btnproy btn-block" href="/users">Detalles</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 p-1 ">
                <div class="col-lg-11 pb-3 mx-auto box1">
                    <h1 class="box2title">Costal Enviado</h1>
                    <h5 class="box1remark">Costales Enviados</h5>
                    <h4 class="box1estad">{{envnum}} Costales Enviados</h4>
                    <div class="col-lg-12 c">
                        <a class="btnproy btn-block" href="/costsent">Detalles</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 p-1 ">
                <div class="col-lg-11 pb-3 mx-auto box1">
                    <h1 class="box3title">Costal Entrgado</h1>
                    <h5 class="box1remark">Costales Pagados</h5>
                    <h4 class="box1estad">{{paynum}} Costales Pagados</h4>
                    <div class="col-lg-12 c">
                        <a class="btnproy btn-block" href="/costpay">Detalles</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

</body>
